
.formBorder{
  border: 1px solid #ccc;
  padding: 20px;
}

.space
{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.makeApiCall{
	margin-top: 10px;
}

.navbtn {
  margin-right: 1rem;
  margin-left:1rem;
  background-color: white;
  border:white;
  color: black;
  margin-bottom:1rem;
}

.topNav{
  margin-top: 25px;
  text-align: center;
}

.bodyArea{
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  align-items: center; 
}

.spacing{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin-left: 30px;
}

topCenter{
  text-align: center;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteCentering {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header{
  margin-top: 10px;
}
.description {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}