.aboveGuage {
  text-align: center;
}

.controlGuages {
  display: flex;
  justify-content: space-around;
}

.gaugeContainer {
  margin: 10px;
}

.guageBorder {
	margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block;
}
